#Button1 {

    Height: 30px;
    Width: 180px;
    background-color: #820404;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    
}
    
#Button1:hover {
    
background-color: #CCCCCC;
    
}