#tb1 {
    height: 30px;
    width: 300px;
    background-color: #CEEEFA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #656768;
}

#tb1:focus{
    border: 2px solid green;
}

#tb1:invalid{
    border: 2px solid red;
}